{% macro nav(current_user, view) %}
<script>
$(document).ready(function() {
    $(".{{view}}").addClass("active");
});
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url_for('index') }}">Anjuke Private Cloud</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="buy" id="nav_buy"><a href="{{ url_for('order.new') }}">购买</a></li>
                    <li class="order_list" id="nav_order_list"><a href="{{ url_for('order.list') }}">订单</a></li>
                    <li class="hosts" id="nav_hosts"><a href="{{ url_for('hosts.index') }}">宿主机</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if current_user.is_authenticated() %}
                    <li class="my"><a href="{{ url_for('my_vm.test') }}">个人中心</a></li>
                    {% if current_user.role == 1 %}
                    <li class="admin"><a href="{{ url_for('admin.index') }}">管理</a></li>
                    {% endif %}
                    <li><a href="#">您好，{{ current_user.chinese_name }}！</a></li>
                    <li><a href="{{ url_for('logout') }}">注销</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
