{% extends 'admin/cluster/layout.html' %}


{% block addon_head %}
<script src="{{ url_for('custom_static',filename='admin/cluster/index.js') }}"></script>
{% endblock %}


{% block region %}
<legend>
    集群
    <div class="pull-right">
        <a href="{{ url_for('cluster.add') }}" class=""><i class="icon-plus"></i>添加</a>
    </div>
</legend>


<table class="table table-hover">
    <thead>
        <tr>
           <th width="20%"><font color="gray">#</font></th>
           <th width="35%">机房</th>
           <th width="35%">名称</th>
           <th width="10%">操作</th>
        </tr>
    </thead>
    <tbody>
        {% if cluster.__len__() == 0 %}
        <tr>
            <td colspan="4">Null</td>
        </tr>
        {% endif %}
        {% for c in cluster %}
        <tr id="cluster_{{ c.id }}">
            <td><font color="gray">{{ c.id }}</font></td>
            <td>{{ c.idc.name }}</td>
            <td>{{ c.name }}</td>
            <td class="action" data-trid="cluster_{{ c.id }}">
                <a class="edit" href="{{ url_for('cluster.edit', cluster_id=c.id) }}"><i class="icon-edit"></i></a>
                <a class="remove" href="{{ url_for('cluster.delete', cluster_id=c.id) }}"><i class="icon-remove"></i></a>
            </td>
        <tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
