body {
    background-color: #F5F5F5;
}

#wrap {
    padding-top: 60px;
    background-color: #FFFFFF;
}

#content, #sidebar {
    min-height: 600px;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}

.column-narrow { width: 260px; }
.column-wide { width: 700px; }


/*
 * Sidebar Nav
 */
#sidebar .block {
    border: 1px solid #DDD;
    border-radius: 6px 6px 0 0;
    margin-bottom: 20px;
}

#sidebar h2 {
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    background-color: #DDD;
}

#sidebar ul {
    margin: 0;
}

#sidebar ul li {
    list-style: none outside none;
    overflow: hidden;
}

#sidebar li a {
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
}

#sidebar li a:hover {
    background-color: #EEE;
}

/*
 * Overwrite bootstrap CSS
 */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 980px;
}


/*
 * Public defined CSS
 */
.pdt-3  { padding-top: 3px;  }
.pdt-5  { padding-top: 5px;  }
.pdt-7  { padding-top: 7px;  }
.pdt-8  { padding-top: 8px;  }
.pdt-10 { padding-top: 10px; }

.mgt-8  { margin-top: 8px; }

.mgr-10 { margin-right: 10px; }
.mgr-20 { margin-right: 20px; }

.table-row {
    border-bottom: #DDDDDD solid thin;
    padding-top: 8px;
}

.table-head {
    border-bottom: #CCCCCC solid thin;
    margin-top: 20px;
}

.icon-edit, .icon-remove {
    zoom: 1.2;
    -moz-transform: scale(1.2);
}
