{% extends 'admin/network/layout.html' %}

{% block addon_head %}
<script src="{{ url_for('static',filename='js/admin/osimage.js') }}"></script>
{% endblock %}

{% block region %}
<form class="form-inline" method="POST" action="{{ url_for('osimage.add') }}">
    <fieldset>
        <legend>镜像管理</legend>
        <div class="text-right">
            <span class="text-left">
                {{ form.hidden_tag() }}
                {{ form.csrf }}
                <select class="span2" id="idc_id" name="idc_id">
                    {% for i in idc %}
                    <option data-api-url="{{ url_for('sunstone.image', idc_id=i.id) }}" value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" class="span3" id="sunstone_name" name="sunstone_name" placeholder="sunstone name" autocomplete="off"/>
                <input type="hidden" class="span3" id="sunstone_id" name="sunstone_id"/>
                <input type="text" class="span3" id="name" name="name" placeholder="name"/>
                <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>添加</button>
            <span>
        </div>
    </fieldset>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th width="50">IDC</th>
            <th width="100" align="right">Sunstone ID</th>
            <th width="230">Sunstone Name</th>
            <th>名称</th>
            <th width="50">操作</th>
        </tr>
    </thead>
    <tbody>
        {% if osimage.__len__() == 0 %}
        <tr>
            <td colspan="5">Null</td>
        </tr>
        {% endif %}
        {% for i in osimage %}
        <tr id="os_{{ i.id }}" data-edit-url="{{ url_for('osimage.edit', osimage_id=i.id) }}">
            <td>{{ idc_dict[i.idc_id].name }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.sunstone_name }}</td>
            <td>
                <span class="os_name">{{ i.name }}</span>
                <input class="os_name hide" value="{{ i.name }}"/>
            </td>
            <td class="os-action" data-id="os_{{ i.id }}">
                <a class="edit" href=""><i class="icon-edit"></i></a>
                <a class="remove" href="{{ url_for('osimage.delete', osimage_id=i.id) }}"><i class="icon-remove"></i></a>
                <a class="save hide" href="#"><i class="icon-ok"></i></a>
                <a class="cancle hide" href="#"><i class="icon-ban-circle"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
