.btn-cpu, .btn-mem {
    width: 70px;
    margin-right: 15px;
}

form {
    margin-left: 40px;
}

#disk-input-group {
    margin-right: 5px;
}

#disk-slider {
    width: 215px;
    margin-top: 8px;
    margin-right: 8px;
    display: inline-block;
}

#disk-input {
    width: 3em;
}

#nic-label, #disk-label {
    height: 30px;
}
