.head {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e5e4e4;
    margin-bottom: 15px;
}

.head .pull-right {
    line-height: 40px;
    margin-top: 10px;
}

.head a {
    margin-left: 10px;
    font-size: 14px;
}

.head a i {
    margin-top: 3px;
}

h4 {
    padding: 10px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e5e4e4;
}

#order-state {
    vertical-align: middle;
}

#order-state select {
    margin-bottom: 0;
}
