{% extends 'admin/network/layout.html' %}


{% block addon_head %}
<script src="{{ url_for('custom_static',filename='admin/network/index.js') }}"></script>
{% endblock %}


{% block region %}
<form class="form-inline" action="{{ url_for('network.add') }}" method="POST">
    <fieldset>
        <legend>网络管理</legend>
        <div class="text-right">
            <span class="text-left">
                {{ form.hidden_tag() }}
                {{ form.csrf }}
                <select class="input-medium" id="cluster_id" name="cluster_id">
                    {% for c in cluster %}
                    <option value="{{ c.id }}" data-api-url="{{ url_for('sunstone.vnet', cluster_id=c.id) }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" class="input-medium" id="sunstone_name" name="sunstone_name" placeholder="sunstone name" autocomplete="off"/>
                <input type="hidden" class="input-medium" id="sunstone_id" name="sunstone_id"/>
                <input type="text" class="input-medium" id="name" name="name" placeholder="name"/>
                <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>添加</button>
            </span>
        </div>
    </fieldset>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="hide"><font color="gray">#</font></th>
            <th width="20%">集群</th>
            <th width="20%">Sunstone ID</th>
            <th width="25%">Sunstone Name</th>
            <th width="25%">名称</th>
            <th width="10%">操作</th>
        </tr>
    </thead>
    <tbody>
        {% if vnet.__len__() == 0 %}
        <tr>
            <td colspan="6">Null</td>
        </tr>
        {% endif %}
        {% for n in vnet %}
        <tr id="net_{{ n.id }}" data-edit-url="{{ url_for('network.edit', network_id=n.id) }}">
            <td class="hide"><font color="gray">{{ n.id }}</font></td>
            <td>{{ n.cluster.name }}</td>
            <td>{{ n.sunstone_id }}</td>
            <td>{{ n.sunstone_name }}</td>
            <td>
                <span class="net_name">{{ n.name }}</span>
                <input class="hide net_name input-medium" value="{{ n.name }}"/>
            </td>
            <td class="action" data-trid="net_{{ n.id }}">
                <a class="edit" href="#"><i class="icon-edit"></i></a>
                <a class="remove" href="{{ url_for('network.delete', network_id=n.id) }}"><i class="icon-remove"></i></a>
                <a class="save hide" href="#"><i class="icon-ok"></i></a>
                <a class="cancle hide" href="#"><i class="icon-ban-circle"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
