{% extends 'admin/idc/layout.html' %}


{% block addon_head %}
<script src="{{ url_for('static',filename='js/admin/idc.js') }}"></script>
{% endblock %}


{% block region %}
<form class="form-inline" action="{{ url_for('idc.add') }}" method="POST">
    <fieldset>
        <legend>IDC管理</legend>
        <div class="pull-right">
            <span class="text-left">
                {{ form.hidden_tag() }}
                {{ form.csrf }}
                <input type="text" placeholder="name" id="name" name="name"/>
                <input type="text" placeholder="chinese name" id="chinese_name" name="chinese_name"/>
                <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>添加</button>
            </span>
        </div>
    </fieldset>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th width="10%"><font color="gray">#</font></td>
            <th width="40%">名称</td>
            <th width="40%">中文名</td>
            <th width="10%">操作</td>
        </tr>
    </thead>
    <tbody>
        {% for i in idc %}
        <tr id="idc_{{ i.id }}" data-edit-url="{{ url_for('idc.edit', idc_id=i.id) }}">
            <td><font color="gray">{{ i.id }}</font></td>
            <td>
                <span class="name">{{ i.name }}</span>
                <input class="hide name" value="{{ i.name }}"/>
            </td>
            <td>
                <span class="cname">{{ i.chinese_name }}</span>
                <input class="hide cname" value="{{ i.chinese_name }}"/>
            </td>
            <td class='action' data-trid="idc_{{ i.id }}">
                <a class="edit" href="#"><i class="icon-edit"></i></a>
                <a class="remove" href="{{ url_for('idc.delete', idc_id=i.id) }}"><i class="icon-remove"></i></a>
                <a class="save hide" href="#"><i class="icon-ok"></i></a>
                <a class="cancle hide" href="#"><i class="icon-ban-circle"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
