<COMPUTE>
    <INSTANCE_TYPE>custom</INSTANCE_TYPE>

    <CPU>{{ order.cpu }}</CPU>
    <VCPU>{{ order.cpu }}</VCPU>
    <MEMORY>{{ order.mem * 1024 }}</MEMORY>

    {% for n in order.network  %}
    <NIC>
        <NETWORK href="http://0.0.0.0:4567/network/{{ network_dict[n].sunstone_id }}"/>
        <MODEL>virtio</MODEL>
    </NIC>
    {% endfor %}

    <DISK>
        <STORAGE href="http://0.0.0.0:4567/storage/{{ order.os.sunstone_id }}"/>
        <DEV_PREFIX>vd</DEV_PREFIX>
        <TARGET>vda</TARGET>
        <DRIVER>raw</DRIVER>
    </DISK>

    {% for d in disk_arr %}
    <DISK>
        <STORAGE href="http://0.0.0.0:4567/storage/{{ d }}"/>
        <DEV_PREFIX>vd</DEV_PREFIX>
        <DRIVER>raw</DRIVER>
    </DISK>
    {% endfor %}

    {% for d in order.disk %}
    {% endfor %}

    <OS>
        <ARCH>x86_64</ARCH>
    </OS>
</COMPUTE>

