<COMPUTE>
    <INSTANCE_TYPE>custom</INSTANCE_TYPE>

    <CPU>{{ order.cpu }}</CPU>
    <VCPU>{{ order.cpu }}</VCPU>
    <MEMORY>{{ order.mem * 1024 }}</MEMORY>

    {% for n in order.network  %}
    <NIC>
        <NETWORK href="http://0.0.0.0:4567/network/{{ network_dict[n].sunstone_id }}"/>
        <MODEL>virtio</MODEL>
    </NIC>
    {% endfor %}

    <DISK>
        <STORAGE href="http://0.0.0.0:4567/storage/{{ order.os.sunstone_id }}"/>
        <DEV_PREFIX>vd</DEV_PREFIX>
        <TARGET>vda</TARGET>
        {% if ds_mad == "ceph" %}
        <DRIVER>raw</DRIVER>
        {% elif ds_mad == "fs" %}
        <DRIVER>qcow2</DRIVER>
        {% endif %}
    </DISK>

    {% if ds_mad == "ceph" %}
      {% for d in disk_arr %}
        <DISK>
            <STORAGE href="http://0.0.0.0:4567/storage/{{ d }}"/>
            <DEV_PREFIX>vd</DEV_PREFIX>
            <DRIVER>raw</DRIVER>
        </DISK>
      {% endfor %}
    {% elif ds_mad == "fs" %}
      {% for d in order.disk %}
        <DISK>
            <TYPE>fs</TYPE>
            <SIZE>{{ d * 1024 }}</SIZE>
            <DEV_PREFIX>vd</DEV_PREFIX>
            <FORMAT>raw</FORMAT>
            <DRIVER>raw</DRIVER>
        </DISK>
      {% endfor %}
    {% endif %}

    <OS>
        <ARCH>x86_64</ARCH>
    </OS>

    <GRAPHICS>
        <TYPE>VNC</TYPE>
        <LISTEN>0.0.0.0</LISTEN>
    </GRAPHICS>
</COMPUTE>
