{% extends 'buy/layout.html' %}

{% block addon_head %}
<link href="{{ url_for('static',filename='css/buy.css') }}" rel="stylesheet">
<script src="{{ url_for('static',filename='js/buy.js') }}"></script>
{% endblock %}

{% block content_body %}
<form class="form-horizontal" method="" action="{{ url_for('buy.index') }}">
  <div class="control-group">
    <label class="control-label" for="inputPassword">机房：</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="idc" id="idc10" value="IDC10" checked>
        IDC10
      </label>
      <label class="radio inline">
        <input type="radio" name="idc" id="idc20" value="IDC20">
        IDC20
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">CPU：</label>
    <div class="controls">
      <button class="btn btn-choice">1核</button>
      <button class="btn btn-choice">2核</button>
      <button class="btn btn-choice">4核</button>
      <button class="btn btn-choice">8核</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">内存：</label>
    <div class="controls">
      <button class="btn btn-choice">1G</button>
      <button class="btn btn-choice">2G</button>
      <button class="btn btn-choice">4G</button>
      <button class="btn btn-choice">8G</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">网卡：</label>
    <div class="controls pdt-5">
      <div>
        <span class="label">10.10.3.0</span>
        <span class="label label-info">10.10.5.0</span>
      </div><br/>
      <select>
        <option>10.10.3.0</option>
        <option>10.10.5.0</option>
      </select>
      <button class="btn">添加</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">系统盘：</label>
    <div class="controls pdt-5">
      <p>30GB（免费赠送）</p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">数据盘：</label>
    <div class="controls">
      <div id="disk-slider" class="pull-left"></div>
      <div class="input-append pull-left">
        <input class="span2" id="disk-input" type="text">
        <span class="add-on">GB</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">操作系统：</label>
    <div class="controls">
      <select>
        <option>Redhat 5.8</option>
        <option>Ubuntu 12.04</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">价格：</label>
    <div class="controls pdt-5">
      <font id="price" color="red"><b>123</b>&nbsp;元/月</font>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-primary">提交</button>
    </div>
  </div>
</form>
{% endblock %}
