body {
    background-color: #F5F5F5;
}

#wrap {
    padding-top: 60px;
    background-color: #FFFFFF;
}

#content, #sidebar {
    min-height: 600px;
}

#message {
    display: none;
    position: fixed;
    top: 45px;
    width: 100%;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}

.clear {
    clear: both;
    line-height: 0;
    height: 0;
}


/*
 * Sidebar Nav
 */
#sidebar .block {
    border: 1px solid #e5e6e6;
    border-radius: 6px 6px 0 0;
    margin-bottom: 20px;
}

#sidebar h2 {
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    background-color: #e5e6e6;
}

#sidebar ul {
    margin: 0;
}

#sidebar ul li {
    list-style: none outside none;
    overflow: hidden;
}

#sidebar li a {
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
}

#sidebar li a:hover {
    color: black;
}

#sidebar li.active a {
    color: black;
}


/*
 * Content head
 */
.content-head {
    border-color: #E5E5E5;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
}

.content-head a i {
    margin-top: 3px;
}

.content-head a.btn-action i {
    margin-top: 1px;
}

.content-head h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
}

.content-head div {
    line-height: 40px;
}

.content-head .btn-action {
    padding: 2px 10px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
}

.content-head .btn-action:hover {
    background-color: #D0D0D0;
}

/*
 * Pagination
 */
.pagination .pull-left {
    padding: 4px 0;
}


/*
 * Percent group
 */
.percent-group {
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    padding: 1px;
    height: 20px;
    overflow: hidden;
}

.percent-group .text {
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}

.percent-group .bar {
    height: 10px;
}

.percent-group .top {
    border-radius: 2px 2px 2px 0px;
    background-color: #0E90D2;
}

.percent-group .bottom {
    border-radius: 0px 2px 2px 2px;
    background-color: #62c462;
}

.percent-group .top, .percent-group .bottom {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/*
 * Overwrite bootstrap CSS
 */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 980px;
}

.table th, .table td {
    vertical-align: middle;
}

legend a {
    font-size: 14px;
}

.btn-action {
    padding: 2px 10px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
}

.btn-action:hover {
    background-color: #D0D0D0;
}

.label .close {
    float: none;
    line-height: inherit;
    font-size: 10px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}


/*
 * Public defined CSS
 */
.pdt-3  { padding-top: 3px;  }
.pdt-5  { padding-top: 5px;  }
.pdt-7  { padding-top: 7px;  }
.pdt-8  { padding-top: 8px;  }
.pdt-10 { padding-top: 10px; }

.mgt-8  { margin-top: 8px; }

.mgr-10 { margin-right: 10px; }
.mgr-20 { margin-right: 20px; }

.table-row {
    border-bottom: #DDDDDD solid thin;
    padding-top: 8px;
}

.table-head {
    border-bottom: #CCCCCC solid thin;
    margin-top: 20px;
}

tr.selected {
    background-color: #EEEEEE;
}

tr .action {
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

tr.hover .action {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
